/* Variables =================================================== */

// 1. ROOT 					==============================

// 2. TYPOGRAPHY 			==============================

// $basefont : "Helvetica Neue", Helvetica, Arial, sans-serif;
// $basefontsize : 16;
// $baselineheight : 1.5em;
// $baseheadingfont : inherit;
// $baseheadingfontweight : bold;
// $baseheadingfontcolor : inherit;

// $altfont : Cambria, Georgia, Times, "Times New Roman";
// $altlineheight : 1.35em;

// $codefont : Monaco, Courier New, monospace;

// $main-font-size: 16px;

$copy-font: 'Proxima Nova W15', sans-serif;

// 2. COLOR PALATE 			==============================

$green: #87ff65;
$green-rgba: rgba(135,255,101,.75);
$green-rgba-mobile: rgba(135,255,101,.925);
$green-rgba-form: rgba(135,255,101,.25);

$white: #ecf0f1;
$white-rgba: rgba(236,240,241,.75);

$grey: #4f4f4f;
$grey-rgba: rgba(79,79,79,.75);
$grey-rgba-mobile: rgba(79,79,79,.925);

$middle-grey: #7d7d7d;
$middle-grey-rgba: rgba(125,125,125,.75);

$light-grey: #e7e7e7;
$light-grey-rgba: rgba(231,231,231,.75);
$light-grey-rgba-mobile: rgba(231,231,231,.925);

$red: #ea4e3c;
$red-rgba: rgba(234,78,60,.75);