<div class="form__container">
    <div class="form__index clearfix animated zoomIn">
        <form id="nl-form" class="nl-form">
            I want to eat {{yelpApi}}
            <select>
                <option value="1" selected>any food</option>
                <option value="2">Indian</option>
                <option value="3">French</option>
                <option value="4">Japanese</option>
                <option value="2">Italian</option>
            </select>
            <br />in a
            <select>
                <option value="1" selected>standard</option>
                <option value="2">fancy</option>
                <option value="3">hip</option>
                <option value="4">traditional</option>
                <option value="2">romantic</option>
            </select>
            restaurant
            <div class="nl-submit-wrap">
                <button class="nl-submit" type="submit">Go</button>
            </div>
            <div class="nl-overlay"></div>
        </form>
    </div>

</div>

<script src="scripts/plugins/nlform.js"></script>
<script>
var nlform = new NLForm(document.getElementById('nl-form'));
</script>